body {
    background-color: rgb(4, 12, 100);
}

.cargando {
    height: 100%;
    margin: 300px;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color: rgb(219, 23, 23);
}

.container2 {
    columns: 2;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(4, 12, 100);
    justify-content: space-around;
    display: flex;
}

.columna1{
    margin: 20px 20px 10px 20px;
    background-color: rgb(255, 255, 255);
    width: 30%;
    border-radius: 20px;
    height: 450px;
}
.columna2{
    margin: 20px 20px 10px 20px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 20px;
    height: 450px;
    display: flex;
    columns: 2;
}

.subColumna1 {
    width: 70%;
}

.subColumna2 {
    width: 30%;
    position: relative;
}

.subColumna2Icons {
    position: absolute;
    left: 0;
    bottom: 0;
}

.pokemonImage {
    width: 300px;
    height: 300px;
}

h1 {
    font-family: 'Pokemon Solid', sans-serif;
    color:rgb(255, 255, 255);
}


h2 {
    font-family: 'Pokemon Solid', sans-serif;
    color:rgb(255, 255, 255);
}

.topBox {
    columns: 4;
    display: flex;
}

.input {
    margin: 20px 0px 20px 20px;
    width: 75%;
    border-radius: 20px;
    height: 75px;
    /* display: flex; */
    /* background-image: url(./images/Search.png);
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat; */
}

.topIcon {
    background-color: rgb(255, 255, 255);
    border: rgb(219, 23, 23);
}