.container {
    columns: 9;
    color: rgb(0, 0, 212);
    font-family: Arial, Helvetica, sans-serif;
    border-style: groove;
}
.container2 {
    columns: 2;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(4, 12, 100);
    display: flex;
    justify-content: space-around;
    border-style: groove;
}

.columna1{
    margin: 50px 100px;
    background-color: rgb(255, 255, 255);
    width: 30%;
    border-style: groove;
    border-radius: 20px;
    height: 500px;
}
.columna2{
    margin: 50px 100px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 20px;
    height: 500px;
    border-style: groove;
}

h1 {
    font-family: 'Pokemon Solid', sans-serif;
}


h2 {
    font-family: 'Pokemon Solid', sans-serif;
}